{% load static %}
<nav class="navbar navbar-expand-lg fixed-top" id="main-navbar">
    <div class="container">

        <a class="navbar-brand pr-5" style="border-right: 1px solid #efefef;" href="">
            <img src="http://pluspng.com/img-png/houston-astros-logo-vector-png-logo-of-houston-astros-195.png" alt="Houston Astros Logo Vector PNG" style="width: 50px;height: 50px;">
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <h2>Houston</h2>
                </li>
            </ul>
        </div>
    </div>
</nav>